.celestials-container {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

.celestials {
    position: absolute;
    top: 2.25%;
    left: 45%;
    transform: translate(-50%, -50%);

    transition: all 2s;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.moon,
.sun {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.sun {
    background-image: linear-gradient(to bottom, lightgoldenrodyellow, darkorange);
}

.moon {
    background-image: linear-gradient(to top, white, darkgray);
}