.celestials-container {
    z-index: 0;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.celestials {
    transition: all 2s;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.moon,
.sun {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.sun {
    background-image: linear-gradient(to bottom, lightgoldenrodyellow, darkorange);
}

.moon {
    background-image: linear-gradient(to top, white, darkgray);
}