.data-container {
    background-image: linear-gradient(to bottom, var(--light-secondary), white);
}

.data-main {
    max-width: 100rem;
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 1rem;
}

.temp:hover,
.widgets:hover,
.forecast-daily-list:hover,
.list-container:hover {
    transition: all 0.2s;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}