.entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: white;
    font-size: 2.2rem;
    margin: 0.5rem;
    transition: all 0.3s;
}

.entry:hover {
    background-color: var(--light-primary);
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0,0,0, 0.2);
}

.entry:active {
    transform: translateY(0);
}

.date {
    grid-column: 1;
    grid-row: 1;
}

.time {
    grid-column: 1;
    grid-row: 2;
}

.location {
    grid-column: 2;
    grid-row: span 2;
    align-self: center;
}