.entry {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 2.2rem;
    margin: 1rem;
    transition: all 0.3s;
}

.entry:hover {
    background-color: var(--light-primary);
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0,0,0, 0.2);
}

.entry:active {
    transform: translateY(0);
}

.location {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.location-icon-entry {
    width: 2.4rem;
    height: 2.4rem;
}