.extras-container {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    column-gap: 20px;
    padding: 1.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.extra-info {
    font-size: 3.2rem;
    border-bottom: 1px solid black;
}