.list-container {
    overflow: hidden;
    grid-row: 3;
    grid-column: span 2;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.foreCast-list {
    display: flex;
    margin: 0;
    white-space: nowrap;
    overflow-x: scroll;
}

.foreCast-list::-webkit-scrollbar {
    display: none;
}

.forecast-daily-list {
    grid-row: span 2;
    list-style: none;
    border-radius: 1rem;
    padding: 2.2rem 1.2rem 2.2rem 1.2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.forecast-daily-list .daily-container:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}