@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --main-backgroundColor: #0096C7;
  --secondary-backgroundColor: #0077B6;
  --tertiary-backgroundColor: #299AD0;
  --main-backgroundColor-dark: #002e3d;
  --secondary-backgroundColor-dark: #104664;
  --tertiary-backgroundColor-dark: #14465d;
  --entry-color: white;
  

  --light-primary: #FF8800;
  --light-secondary:#FF7B00;
  --color-font: #212529;
}

body {
  font-family: 'Smooch Sans', sans-serif;
}

.global-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

