@media (max-width: 72em) {
    .input {
        width: 40rem;
    }
}

@media (max-width: 68em) {
    :root {
        font-size: 56.8%;
    }
}

@media (max-width: 62em) {
    :root {
        font-size: 52.6%;
    }
}

@media (max-width: 58em) {
    :root {
        font-size: 48%;
    }
}

@media (max-width: 54em) {
    :root {
        font-size: 42%;
    }
}

@media (max-width: 48em) {
    :root {
        font-size: 38%;
    }
}

@media (max-width: 44em) {
    :root {
        font-size: 34.2%;
    }
}

@media (max-width: 40em) {
    :root {
        font-size: 30.8%;
    }
}

@media (max-width: 36em) {
    :root {
        font-size: 26.2%;
    }
}


@media (max-width: 32em) {
    :root {
        font-size: 38.8%;
    }

    .global-layout {
        display: flex;
    }

    .data-field {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

}

@media (max-width: 28em) {

    :root {
        font-size: 23.4%;
    }

    .data-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10rem ;
    }


}


/* @media (max-width: 84em) {

}

@media (max-width: 75em) {

}

@media (max-width: 59em) {

} */