.search {
    position: relative;
}

.search-suggestions {
    position: absolute;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    left: 38.75%;
    opacity: 0;
}

.input:focus ~ .search-suggestions {
    opacity: 100;
}

.search-item {
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: space-between;
    gap: 30px;
    white-space: nowrap;
}

.search-item:hover {
    background-color: bisque;
    cursor: pointer;
}

.search-icon {
    height: 24px;
    width: 24px;
}

