.temp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2.6rem 2.6rem 2.6rem;
    background-color: rgb(244, 215, 215);
    border-radius: 1rem;
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

.main-data-temp {
    text-align: start;
}
.location-temp {
    display: flex;
    align-items: center;
    font-size: 4.2rem;
    gap: 5px;
}

.location-icon {
    height: 4.2rem;
    width: 4.2rem;
}

.temp-date {
    font-size: 3rem;
}

.temp-current {
    font-size: 5rem;
}

.info-temp {
    text-align: end;
    font-size: 3.2rem;
    font-weight: bold;
    width: 13.95rem;
}

.condition {

}

.temp-max-min {

}

.temp-feels-like {

}