.temp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2.6rem 2.6rem 2.6rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

.main-data-temp {
    text-align: start;
    grid-column: 1 / span 2;
    width: 20rem;
}

.location-temp {
    display: flex;
    align-items: center;
    font-size: 4.2rem;
    gap: 5px;
}

.icon-main {
    width: 8rem;
    height: 8rem;
}

.location-icon {
    height: 4.2rem;
    width: 4.2rem;
}

.temp-date {
    font-size: 3rem;
}

.temp-current {
    display: flex;
    align-items: center;
    margin-left: -2rem;
    font-size: 5rem;
}

.info-temp {
    grid-column: 2;
    text-align: end;
    font-size: 3.2rem;
    font-weight: bold;
    width: 15rem;
}