.upper-bar {
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
}

.search {
    display: flex;
    align-items: center;
}
